@charset "UTF-8";

 /*Declarações gerais*/
 * {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
 }

 html, body {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
 }

 h1 {
    color: white;
    text-shadow: 3px 3px 0px #233EFF;
    padding: 10px;
 }
        /*Declarações para retrato*/
        @media screen and (orientation: portrait) {
            body {
                background-position: center bottom;
                background-image: url(imagem/cev-portrait.jpg);
}
    }        
        /*Declarações para paisagem*/
        @media screen and (orientation: landscape) {
            body {
                    background-image: url(imagem/cev-landscape.jpg);
                    background-position: left bottom;
}
        }