@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: rgb(206, 205, 205);
    
}

header {
    background-color: rgb(167, 166, 166);
}

header > h1 {
    text-align: center;
    padding: 10px;
}

i#burguer {
    background-color: rgb(66, 66, 66);
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

i#burguer:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

nav {
    display: none;
}

nav > ul {
    
    list-style: none;
}

nav > ul > li > a {
    display: block;
    background-color: rgb(95, 94, 94);
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2px solid rgb(184, 182, 182);
}

nav > ul > li > a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}